[Unit]
Description=Service to send connect and disconnect messages to Hubitat when the UPSMON service starts and stops
BindsTo=nut-monitor.service
After=nut-monitor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/bin/sleep 30
ExecStart=-/bin/bash /usr/local/bin/hubitat-nut-status.sh refresh
ExecStop=-/bin/bash /usr/local/bin/hubitat-nut-status.sh unknown

[Install]
WantedBy=multi-user.target